/target
.clinerules
/docs
/documentation/node_modules

apps/studio/*.class
apps/studio/*.log
apps/studio/*.pyc
apps/studio/*.swp
apps/studio/.DS_Store
apps/studio/.atom/
apps/studio/.buildlog/
apps/studio/.history
apps/studio/.svn/

apps/studio/.dart_tool/
apps/studio/.flutter-plugins
apps/studio/.flutter-plugins-dependencies
apps/studio/.packages
apps/studio/.pub-cache/
apps/studio/.pub/
apps/studio/build/
apps/studio/dart_tool/

apps/studio/packages
apps/studio/pubspec.lock

apps/studio/.idea/
apps/studio/.vscode/
apps/studio/*.iml
apps/studio/*.iws
apps/studio/*.ipr
apps/studio/.project
apps/studio/.classpath
apps/studio/.settings/

apps/studio/**/ios/Pods/
apps/studio/**/ios/.symlinks/
apps/studio/**/ios/Flutter/Flutter.framework
apps/studio/**/ios/Flutter/Flutter.podspec
apps/studio/*.bak
apps/studio/*.dart.js
apps/studio/*.o
apps/studio/*.so
